**/install.sh
**/secrets*
**/*.b64

## Additions
**/[Aa][Gg][Ee][Nn][Tt].md
**/[Aa][Gg][Ee][Nn][Tt][Ss].md
**/[Aa][Ii].md
**/[Aa][Ss][Ss][Ii][Ss][Tt][Aa][Nn][Tt].md
**/[Bb][Oo][Tt].md
**/[Bb][Aa][Rr][Dd].md
**/[Cc][Ll][Aa][Uu][Dd][Ee].md
**/[Gg][Pp][Tt].md
**/[Gg][Ee][Mm][Ii][Nn][Ii].md
**/[Ll][Ll][Mm].md
**/[Mm][Ii][Ss][Tt][Rr][Aa][Ll].md
**/[Oo][Ll][Ll][Aa][Mm][Aa].md
**/[Oo][Pp][Ee][Nn][Aa][Ii].md
**/[Oo][Rr][Cc][Aa].md
**/[Pp][Yy][Tt][Hh][Oo][Nn]_[Aa][Gg][Ee][Nn][Tt].md
**/[Jj][Ss]_[Aa][Gg][Ee][Nn][Tt].md
**/[Vv][Ii][Cc][Uu][Nn][Aa].md
**/[Ww][Aa][Rr][Pp].md
**/[Xx][Aa][Ii].md

